body {
    @font-face {
        font-family: "Nazanin";
        src: url(../../../font/Nazanin.ttf) format(.ttf);
    }
}

.font-n {
    font-family: "Nazanin";
}

.d-rtl {
    direction: rtl;
}

.khat {
    right: 13.5%;
    position: absolute;
    width: 170px;
    height: 5px;
    background-color: rgb(1, 1, 170);
    margin: 1rem auto;
}

@media screen and (max-width:1399.98px) {
    .khat {
        right: 9%;
    }
}

@media screen and (max-width:1299.98px) {
    .khat {
        right: 6%;
    }
}

@media screen and (max-width:1099.98px) {
    .khat {
        right: 6%;
    }
}

@media screen and (max-width:991.98px) {
    .khat {
        right: 13%;
    }
}

@media screen and (max-width:850.98px) {
    .khat {
        right: 8%;
    }
}

@media screen and (max-width:767.98px) {
    .khat {
        right: 16%;
        width: 140px;
    }
    .h-content-1 {
        font-size: 25px !important;
    }
}

@media screen and (max-width:649.98px) {
    .khat {
        right: 10%;
    }
}

@media screen and (max-width:575.98px) {
    .khat {
        right: 3%;
    }
}


/* navbar */

.nav-ch {
    position: absolute;
    top: 5%;
}

.header {
    height: 20%;
    background: url(../img/header-1.jpg) center /cover no-repeat;
}

.navbar-icon {
    font-size: 1.5rem;
    color: black;
    border: oldlace;
}

.navbar-toggler {
    outline-color: white !important;
}

.navbar-nav {
    position: absolute;
    left: 22%;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.2);
    direction: rtl;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-family: "Nazanin";
    font-size: 1.3rem;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.active-nav {
    border-bottom: 2px solid white;
}

.nav-item {
    margin: 0 2rem;
    padding: 0.1rem;
}

.nav-item:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

@media screen and (max-width:1099.98px) {
    .nav-link {
        text-transform: capitalize;
        font-family: "Nazanin";
        font-size: 1.1rem;
        font-weight: 500;
    }
    .navbar-nav {
        left: 15%;
    }
    .nav-item {
        margin: 0 1.5rem !important;
        padding-left: 0.7rem !important;
    }
}

@media screen and (max-width:991.98px) {
    .nav-ch {
        float: left;
        clear: both;
        /* margin-left: 1rem !important; */
    }
    /* .navbar-nav {
        left: 10%;
    } */
    .nav-link {
        color: rgb(255, 255, 255);
    }
    .nav-item {
        margin-left: 0 !important;
        padding-left: 0.7rem !important;
    }
}

@media screen and (max-width:767.98px) {
    .navbar-nav {
        display: inline;
    }
    .header {
        height: 50%;
        background: url(../img/header-3.jpg) center /cover fixed no-repeat;
    }
    .navbar-nav {
        left: 3%;
        background-color: transparent;
        direction: rtl;
    }
    .nav-link {
        color: black;
    }
    .nav-ch {
        top: -1% !important;
        /* margin-left: 1rem !important; */
    }
    .active-nav {
        color: rgb(255, 255, 255);
        border-radius: 25px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        background-color: rgb(0, 0, 0, 0.2);
    }
    .nav-item:hover {
        border-radius: 25px;
        background-color: rgb(0, 0, 0, 0.2);
    }
    .nav-item {
        border: none !important;
        margin-bottom: 1.2rem !important;
    }
}


/* end navbar */


/* slider */

#slider {
    width: 60%;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0px 0px 19px rgba(140, 140, 140, 0.4);
}

#slider img {
    width: 100%;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.text {
    color: #fff;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.slidde {
    margin-top: 130px !important;
}

.prev,
.next {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.prev:hover,
.next:hover {
    text-decoration: none !important;
    color: rgba(128, 128, 128, 0.5);
}

#dots {
    text-align: center;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(136, 139, 143);
}

.dot.active {
    background-color: rgb(77, 77, 85);
}

@media screen and (max-width:991.98px) {
    #slider {
        margin-top: 70px !important;
        width: 80% !important;
    }
    .dot {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width:575.98px) {
    #slider {
        width: 93% !important;
    }
    .dot {
        width: 10px;
        height: 10px;
    }
}


/* end slider */


/* content-1 */

.card-over {
    margin-bottom: 5px;
    width: 30%;
    height: 2vw;
    position: relative;
    padding: 0 3px;
    overflow: hidden;
}

.over {
    position: absolute;
    top: 0;
    right: -98%;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.9;
    background-image: linear-gradient(to right, rgb(17, 17, 182), rgb(64, 64, 187), rgb(11, 11, 230));
    transition: right 0.5s;
}

.p-abute {
    line-height: 34px;
}

.card-over:hover .over {
    right: -50%;
}

.li-nav {
    cursor: pointer;
    font-size: 1.3rem;
    padding-right: 52%;
}

.content-1 {
    background-color: rgba(131, 131, 131, 0.7);
}

@media screen and (max-width:1199.98px) {
    .card-over {
        height: 2.5vw;
    }
}

@media screen and (max-width:1099.98px) {
    .card-over {
        height: 3vw;
    }
}

@media screen and (max-width:850.98px) {
    .card-over {
        height: 3.5vw;
    }
}

@media screen and (max-width:767.98px) {
    .card-over {
        height: 3.7vw;
    }
    .card-over:hover .over {
        right: -30%;
    }
    .li-nav {
        padding-right: 35%;
    }
}

@media screen and (max-width:649.98px) {
    .card-over {
        height: 4.2vw;
    }
}

@media screen and (max-width:575.98px) {
    .card-over {
        height: 5.5vw;
    }
    .card-over:hover .over {
        right: -30%;
    }
    .li-nav {
        padding-right: 35%;
    }
}


/* end content-1 */


/* footer */

.footer {
    background-color: rgb(17, 16, 16);
}

.footer-nav {
    cursor: pointer;
    font-size: 1.4rem;
    padding-right: 15px;
}

.footer-icon {
    color: white;
    font-size: 2.5rem;
    padding: 20px;
}

.navbar-navv {
    list-style-type: none;
}

.footer-icon:hover {
    color: rgb(112, 111, 111) !important;
}

.item:hover {
    background-color: rgba(122, 122, 122, 0.5);
    border-radius: 25px;
}


/* end footer */